.inicioP1{
    /* height: 100px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
}

.boasVindas{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

h1, h2{
    margin-left: 10px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    margin-top: 0;
    font-weight: 300;
    font-size: 15pt;
    color: #6d6d6d;
}

.dataAtual{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.datas{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 12px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
}

.datas > i{
    font-size: 20pt;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
}

.data > p{
    margin: 0;
}

.diaSemana{
    color: #6d6d6d;
}


/*---------------Parte 2---------------------*/


.inicioP2{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tituloAtalhosInicio > h3{
    margin-left: 20px;
}

.acoes{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: aqua; */
    overflow-x: auto;
    flex-wrap: nowrap;
}

.acao > a{
    background-color: transparent;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.acao > a:hover{
    cursor: pointer;
    background-color: #6d6d6d28;
}

.acoes::-webkit-scrollbar{
    background-color: #f9f9f9;
    height: 10px;
}

.acoes::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    width: 5px;
    border-radius: 5px;
}

.acao{
    width: 250px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.iconAcoes{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    margin-right: 10px;
}

.acao1{
    color: rgb(255, 0, 0);
    background-color: rgba(255, 195, 195, 0.43);
}

.icon1{
    color: red;
}

.acao2{
    color: rgb(0, 0, 255);
    background-color: rgba(162, 162, 255, 0.434);
}

.icon2{
    color: blue;
}

.acao3{
    color: green;
    background-color: rgba(177, 255, 177, 0.432);
}

.icon3{
    color: green;
}

.acao4{
    color: purple;
    background-color: rgba(255, 192, 255, 0.43);
}

.icon4{
   color: purple;
}

.nomeAcoes > p{
    margin: 0;
}

.tituloAcao{
    margin-bottom: -10px;
    font-weight: 500;
}

.descricaoAcao{
    font-size: 10pt;
    color: #6d6d6d;
}



/*-----------------------Parte 3-------------------------*/



.inicioP3{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 360px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5px;
}

.inicioP3::-webkit-scrollbar{
    background-color: #f9f9f9;
    height: 10px;
}

.inicioP3::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.parte3Esquerda{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-width: 470px;
    max-width: 470px;
    height: 97%;
    border-radius: 20px;
    border: 1px solid rgb(239, 239, 239);
}

.tituloEsquerda{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.tituloEsquerda > h3{
    margin-left: 10px;
}

.atividadesP3{
    width: 470px;
    height: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.atividadesP3::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 10px;
}

.atividadesP3::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.atividadeP3{
    width: 100%;
    border: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.dataAtividadeP3{
    max-width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    flex: 1;
}

.dataAtividadeP3 > p, .dataAtividadeP3 > h3{
    margin: 0;
}

.textosAtividade{
    margin-left: 5px;
    flex: 2;
}

.textosAtividade > p{
    margin: 0;
}

.tituloAtividade{
    font-weight: 700;
}

.tipoAtividadeInicio{
    flex: 3;
    max-width: 100px;
    text-align: center;
    margin-right: 5px;
}

.tipoAtividadeInicio > p{
    padding: 2px;
    border-radius: 12px;
}

.parte3Esquerda > button{
    background-color: transparent;
    width: 170px;
    border: none;
    color: blue;
}

/*-----------------Parte 3 Direita------------------*/

.parte3Direita{
    width: 770px;
    height: 97%;
    margin: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid rgb(239, 239, 239);
}

.painelInicioTitulo{
    width: 100%;
    height: 40px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.painelInicioTitulo > h3{
    margin-left: 10px;
}

.painelInicioTitulo > button{
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: blue;
}

.tudoPainelInicio {
    width: 100%;
    height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tudoPainelInicio::-webkit-scrollbar{
    background-color: #ffffff;
    width: 10px;
}

.tudoPainelInicio::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    width: 5px;
    border-radius: 5px;
}

.gradePainelInicio {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-auto-rows: minmax(230px, max-content);
    min-width: max-content;
}

.diaPainelInicio {
    width: 150px;
    min-height: 300px;
    border: 1px solid rgb(239, 239, 239);
    border-bottom: none;
    border-top: none;
    box-sizing: border-box;
}

hr{
    width: 1px;
    height: 100%;
    color: black;
}

.painelInicioSegunda{
    margin-left: 10px;
    border: none;
}

.painelInicioSexta{
    margin-right: 10px;
    border: none;
}

.dataPainelInicio{
    border-bottom: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    flex: 1;
}

.dataPainelInicio > p, h4{
    margin: 0;
}

.atividadesPainelInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 2;
}

.compromissoPainelInicio{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-bottom: 20px;
}

.compromissoPainelInicio > div > p{
    margin: 0;
    color: black;
}

.painelInicioSegunda .horaCompromissoPainelInicio{
    color: red;
}

.painelInicioTerca .horaCompromissoPainelInicio{
    color: blue;
}

.painelInicioQuarta .horaCompromissoPainelInicio{
    color: green;
}

.painelInicioQuinta .horaCompromissoPainelInicio{
    color: purple;
}

.painelInicioSexta .horaCompromissoPainelInicio{
    color: red;
}

.horaCompromissoPainelInicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.horaCompromissoPainelInicio > p{
    padding-left: 5px;
}

.descricaoCompromissoPainelInicio{
    margin-left: 15px;
}

.footerInicio{
    width: 100%;
    height: 20px;
    font-size: 8pt;
    color: #6d6d6d;
    display: flex;
    justify-content: center;
    align-items: center;
}