{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block content %}
<div class="containerReservas">
    <div class="conteudoReservas">
        <div class="reservasParte1">
            <div class="tituloReservas">
                <h1>Reservas</h1>
                <p>Visualize, gerencie e faça reservas de salas.</p>
            </div>
            <button><i class="fa-solid fa-plus"></i> Nova reserva</button>
        </div>
        <div class="reservasParte2">

        </div>
        <div class="reservasParte3"></div>
    </div>
</div>
{% endblock %}