{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header> <!--cabeçalho -->

        <div class="coresLaterais"> <!--Linha lateral das cores-->
            <div class="vermelhoLateral"></div> <!--cor vermelha-->
            <div class="azulLateral"></div> <!--cor azul-->
            <div class="verdeLateral"></div> <!--cor verde-->
            <div class="roxoLateral"></div> <!--cor roxa-->
        </div>

        <aside> <!--Barra Lateral-->
            
            <div class="logoBarraLateral"> <!--local da barra lateral para a logo marca-->
                <h3 style="margin: 0;">SINART</h3>
            </div>

            <ul class="listaBarraLateral"> <!--Lista com os ícones laterais-->
                <li><a href=""><button><i class="fa-solid fa-house"></i> Inínio</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-calendar-week"></i> Reservas e salas</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-book-open"></i> Empréstimos</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-graduation-cap"></i> Aulas e Horários</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-calendar-days"></i> Calendário Acadêmico</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-table"></i> Painel Semanal</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-folder"></i> Documentos</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-users"></i> Usuários</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-gear"></i> Configurações</button></a></li>
                <li><a href=""><button><i class="fa-solid fa-circle-user"></i> Meu Perfil</button></a></li>
            </ul>
            
        </aside>
    </header>
    <main>

        <nav>
            
        </nav>

    </main>
</body>
</html>