{% extends "base.html" %}

{% block title %}
Início - SINART
{% endblock %}

{% block content %}
<div class="inicioP1">
    <div class="boasVindas">
        <h1>Bem-vindo(a) de volta, (variável)!</h1>
        <h2>Veja o que está acontecendo hoje no SINART</h2>
    </div>
    <div class="dataAtual">
        <div class="datas">
            <i class="fa-regular fa-calendar"></i>
            <div class="data">
                <p><strong>08 de maio de 2025</strong></p>
                <p class="diaSemana">Quinta feira</p>
            </div>
        </div>
    </div>
</div>

<div class="inicioP2">
    <div class="tituloAtalhosInicio">
        <h3>Ações Rápidas</h3>
    </div>
    <div class="acoes">
        <div class="acao">
            <div class="iconAcoes acao1"><i class="fa-regular fa-calendar-plus"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Nova reserva</p>
                <p class="descricaoAcao">Reserve uma sala <i class="icon1 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao2"><i class="fa-solid fa-box-open"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Novo empréstimo</p>
                <p class="descricaoAcao">Empreste um material <i class="icon2 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao3"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Cadastrar aula</p>
                <p class="descricaoAcao">Adicione aula e horário <i class="icon3 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao4"><i class="fa-regular fa-file"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Documentos</p>
                <p class="descricaoAcao">Acesse regulamentos <i class="icon4 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
    </div>
</div>

<div class="inicioP3">
    <div class="parte3Esquerda">
        <div class="tituloEsquerda">
            <h3>Próximas atividades</h3>
        </div>
        <div class="atividadesP3">
            <div class="atividadeP3">
                <div class="dataAtividadeP3">
                    <h3>08</h3>
                    <p>MAI</p>
                </div>
                <div class="textosAtividade">
                    <p class="tituloAtividade">Reserva: sala de Música</p>
                    <p class="descricaoAtividade"><i class="fa-regular fa-clock"></i> 09:00 - 11:00 • Sala de Música</p>
                </div>
                <div class="tipoAtividadeInicio">
                    <p>Reserva</p>
                </div>
            </div>
            <div class="atividadeP3">
                <div class="dataAtividadeP3">
                    <h3>08</h3>
                    <p>MAI</p>
                </div>
                <div class="textosAtividade">
                    <p class="tituloAtividade">Aula: Violão Intermediário</p>
                    <p class="descricaoAtividade"><i class="fa-regular fa-clock"></i> 14:00 - 16:00 • Sala de Música</p>
                </div>
                <div class="tipoAtividadeInicio">
                    <p>Aula</p>
                </div>
            </div>
            <div class="atividadeP3">
                <div class="dataAtividadeP3">
                    <h3>09</h3>
                    <p>MAI</p>
                </div>
                <div class="textosAtividade">
                    <p class="tituloAtividade">Devolução: Microfone Shure SM58</p>
                    <p class="descricaoAtividade">• Prazo: 09/05/2025</p>
                </div>
                <div class="tipoAtividadeInicio">
                    <p>Empréstimo</p>
                </div>
            </div>
            <div class="atividadeP3">
                <div class="dataAtividadeP3">
                    <h3>10</h3>
                    <p>MAI</p>
                </div>
                <div class="textosAtividade">
                    <p class="tituloAtividade">Reunião do Núcleo</p>
                    <p class="descricaoAtividade"><i class="fa-regular fa-clock"></i> 10:00 - 11:30 • Sala do Nuarte</p>
                </div>
                <div class="tipoAtividadeInicio">
                    <p>Reunião</p>
                </div>
            </div>
            <div class="atividadeP3">
                <div class="dataAtividadeP3">
                    <h3>10</h3>
                    <p>MAI</p>
                </div>
                <div class="textosAtividade">
                    <p class="tituloAtividade">Reserva: sala de Música</p>
                    <p class="descricaoAtividade"><i class="fa-regular fa-clock"></i> 09:00 - 11:00 • Sala de Música</p>
                </div>
                <div class="tipoAtividadeInicio">
                    <p>Reserva</p>
                </div>
            </div>
        </div>
        <button>Ver agenda completa <i class="fa-solid fa-arrow-right-long"></i></button>
    </div>
    <div class="parte3Direita">
        <div class="painelInicioTitulo">
            <h3>Painel semanal</h3>
            <button>Ver painel completo <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
        <div class="tudoPainelInicio">
            <div class="gradePainelInicio">
                <div class="diaPainelInicio painelInicioSegunda">
                    <div class="dataPainelInicio">
                        <h4>SEG</h4>
                        <p>05/05</p>
                    </div>
                    <div class="atividadesPainelInicio">
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 08:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula de Teoria Musical</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 14:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Ensaio cultural</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 16:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Projeto Arte e Cultura</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diaPainelInicio painelInicioTerca">
                    <div class="dataPainelInicio">
                        <h4>TER</h4>
                        <p>06/05</p>
                    </div>
                    <div class="atividadesPainelInicio">
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 09:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula de violão iniciante</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 13:30</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula desenho</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diaPainelInicio painelInicioQuarta">
                    <div class="dataPainelInicio">
                        <h4>QUA</h4>
                        <p>07/05</p>
                    </div>
                    <div class="atividadesPainelInicio">
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 08:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula piano</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 14:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Ensaio orquestra</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 17:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Reunião do Núcleo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diaPainelInicio painelInicioQuinta">
                    <div class="dataPainelInicio">
                        <h4>QUI</h4>
                        <p>08/05</p>
                    </div>
                    <div class="atividadesPainelInicio">
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 09:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula violão intermediário</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 15:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Oficina de fotografia</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diaPainelInicio painelInicioSexta">
                    <div class="dataPainelInicio">
                        <h4>SEX</h4>
                        <p>09/05</p>
                    </div>
                    <div class="atividadesPainelInicio">
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 08:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Aula Canto</p>
                            </div>
                        </div>
                        <div class="compromissoPainelInicio">
                            <div class="horaCompromissoPainelInicio">•<p> 14:00</p>
                            </div>
                            <div class="descricaoCompromissoPainelInicio">
                                <p>Projeto Arte na Escola</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footerInicio">SINART - Sistema Integrado do Núcleo de Arte © 2026 | Núcleo de Arte - IFRN/SGA</footer>
{% endblock %}