{% extends "base.html" %}

{% block title %}
Início - SINART
{% endblock %}

{% block content %}
<div class="inicioP1">
    <div class="boasVindas">
        <h1>Bem-vindo(a) de volta, (variável)!</h1>
        <h2>Veja o que está acontecendo hoje no SINART</h2>
    </div>
    <div class="dataAtual">
        <div class="datas">
            <i class="fa-regular fa-calendar"></i>
            <div class="data">
                <p><strong>08 de maio de 2025</strong></p>
                <p class="diaSemana">Quinta feira</p>
            </div>
        </div>
    </div>
</div>

<div class="inicioP2">
    <div class="tituloAtalhosInicio">
        <h3>Ações Rápidas</h3>
    </div>
    <div class="acoes">
        <div class="acao">
            <div class="iconAcoes acao1"><i class="fa-regular fa-calendar-plus"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Nova reserva</p>
                <p class="descricaoAcao">Reserve uma sala <i class="icon1 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao2"><i class="fa-solid fa-box-open"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Novo empréstimo</p>
                <p class="descricaoAcao">Empreste um material <i class="icon2 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao3"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Cadastrar aula</p>
                <p class="descricaoAcao">Adicione aula e horário <i class="icon3 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
        <div class="acao">
            <div class="iconAcoes acao4"><i class="fa-regular fa-file"></i></div>
            <div class="nomesAcoes">
                <p class="tituloAcao">Documentos</p>
                <p class="descricaoAcao">Acesse regulamentos <i class="icon4 fa-solid fa-arrow-right-long"></i></p>
            </div>
        </div>
    </div>
</div>

<div class="inicioP3">
    
</div>
{% endblock %}